<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityProject:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityProject.war">
      <element id="artifact" artifact-name="SpringSecurityProject:war exploded" />
    </root>
  </artifact>
</component>